
.snip1563 {
    background-color: #fff;
    color: #ffffff;
    border-radius: 25px;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: right;
    width: 100%;
  }

  .snip1563 *,
  .snip1563 *:before,
  .snip1563 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }

  .snip1563 img {
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
  }

  .snip1563:before,
  .snip1563:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: #021168;
    opacity: 0.5;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }

  .snip1563:before {
    -webkit-transform: skew(30deg) translateX(80%);
    transform: skew(30deg) translateX(80%);
  }

  .snip1563:after {
    -webkit-transform: skew(-30deg) translateX(70%);
    transform: skew(-30deg) translateX(70%);
  }

  .snip1563 figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    bottom: 0;
    padding: 20px 20px 20px 40%;
  }

  .snip1563 figcaption:before,
  .snip1563 figcaption:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0020c0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    content: '';
    opacity: 0.5;
    z-index: -1;
  }

  .snip1563 figcaption:before {
    -webkit-transform: skew(30deg) translateX(100%);
    transform: skew(30deg) translateX(100%);
  }

  .snip1563 figcaption:after {
    -webkit-transform: skew(-30deg) translateX(90%);
    transform: skew(-30deg) translateX(90%);
  }

  .snip1563 h3,
  .snip1563 p {
    margin: 0;
    opacity: 0;
    letter-spacing: 1px;
  }

  .snip1563 h3 {
    font-family: 'Teko', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  .snip1563 p {
    font-size: 0.9em;
  }

  .snip1563 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .snip1563:hover h3,
  .snip1563.hover h3,
  .snip1563:hover p,
  .snip1563.hover p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.9;
  }

  .snip1563:hover:before,
  .snip1563.hover:before {
    -webkit-transform: skew(30deg) translateX(30%);
    transform: skew(30deg) translateX(30%);
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
  }

  .snip1563:hover:after,
  .snip1563.hover:after {
    -webkit-transform: skew(-30deg) translateX(20%);
    transform: skew(-30deg) translateX(20%);
  }

  .snip1563:hover figcaption:before,
  .snip1563.hover figcaption:before {
    -webkit-transform: skew(30deg) translateX(50%);
    transform: skew(30deg) translateX(50%);
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }

  .snip1563:hover figcaption:after,
  .snip1563.hover figcaption:after {
    -webkit-transform: skew(-30deg) translateX(40%);
    transform: skew(-30deg) translateX(40%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }

  .jumbotron h1 {
      color: #000000;
  }
  footer {
    margin-bottom: 0 !important;
    margin-top: 80px;
  }
  footer p {
    margin: 0;
    padding: 0;
  }
  span.icon {
      margin: 0 5px;
      color: #D64541;
  }
  h2 {
      color: #BDC3C7;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .mrng-60-top {
      margin-top: 60px;
  }
  /* Global Button Styles */
  a.animated-button:link, a.animated-button:visited {
      position: relative;
      display: block;
      margin: 30px auto 0;
      padding: 14px 15px;
      color: #fff;
      font-size:14px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      letter-spacing: .08em;
      border-radius: 0;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
  }
  a.animated-button:link:after, a.animated-button:visited:after {
      content: "";
      position: absolute;
      height: 0%;
      left: 50%;
      top: 50%;
      width: 150%;
      z-index: -1;
      -webkit-transition: all 0.75s ease 0s;
      -moz-transition: all 0.75s ease 0s;
      -o-transition: all 0.75s ease 0s;
      transition: all 0.75s ease 0s;
  }
  a.animated-button:link:hover, a.animated-button:visited:hover {
      color: #FFF;
      text-shadow: none;
  }
  a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
      height: 450%;
  }
  a.animated-button:link, a.animated-button:visited {
      position: relative;
      display: block;
      margin: 30px auto 0;
      padding: 14px 15px;
      color: #fff;
      font-size:14px;
      border-radius: 0;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      letter-spacing: .08em;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
  }

  /* Victoria Buttons */

  a.animated-button.victoria-one {
      border: 2px solid #D24D57;
  }
  a.animated-button.victoria-one:after {
      background: #D24D57;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  }
  a.animated-button.victoria-two {
      border: 2px solid #D24D57;
  }
  a.animated-button.victoria-two:after {
      background: #D24D57;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      transform: translateX(-50%) translateY(-50%) rotate(25deg);
  }
  a.animated-button.victoria-three {
      border: 2px solid #D24D57;
  }
  a.animated-button.victoria-three:after {
      background: #D24D57;
      opacity: .5;
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
  a.animated-button.victoria-three:hover:after {
      height: 140%;
      opacity: 1;
  }
  a.animated-button.victoria-four {
      border: 2px solid #D24D57;
  }
  a.animated-button.victoria-four:after {
      background: #D24D57;
      opacity: .5;
      -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
  a.animated-button.victoria-four:hover:after {
      opacity: 1;
      height: 600% !important;
  }
  /* Sandy Buttons */

  a.animated-button.sandy-one {
      border: 2px solid #AEA8D3;
      color: #FFF;
  }
  a.animated-button.sandy-one:after {
      border: 3px solid #AEA8D3;
      opacity: 0;
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);

  }
  a.animated-button.sandy-one:hover:after {
      height: 120% !important;
      opacity: 1;
      color: #FFF;
  }
  a.animated-button.sandy-two {
      border: 2px solid #AEA8D3;
      color: #FFF;
  }
  a.animated-button.sandy-two:after {
      border: 3px solid #AEA8D3;
      opacity: 0;
      -moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      -webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
      transform: translateY(-50%) translateX(-50%) rotate(90deg);
  }
  a.animated-button.sandy-two:hover:after {
      height: 600% !important;
      opacity: 1;
      color: #FFF;
  }
  a.animated-button.sandy-three {
      border: 2px solid #AEA8D3;
      color: #FFF;
  }
  a.animated-button.sandy-three:after {
      border: 3px solid #AEA8D3;
      opacity: 0;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  }
  a.animated-button.sandy-three:hover:after {
      height: 400% !important;
      opacity: 1;
      color: #FFF;
  }
  a.animated-button.sandy-four {
      border: 2px solid #AEA8D3;
      color: #FFF;
  }
  a.animated-button.sandy-four:after {
      border: 3px solid #AEA8D3;
      opacity: 0;
      -moz-transform: translateY(-50%) translateX(-50%) rotate(25deg);
      -ms-transform: translateY(-50%) translateX(-50%) rotate(25deg);
      -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
      transform: translateY(-50%) translateX(-50%) rotate(25deg);
  }
  a.animated-button.sandy-four:hover:after {
      height: 400% !important;
      opacity: 1;
      color: #FFF;
  }
  /* Gibson Buttons */

  a.animated-button.gibson-one {
      border: 2px solid #65b37a;
      color: #FFF;
  }
  a.animated-button.gibson-one:after {
      opacity: 0;
      background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
      background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
      background-size: 10px 10px;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
      transform: translateX(-50%) translateY(-50%) rotate(25deg);
  }
  a.animated-button.gibson-one:hover:after {
      height: 600% !important;
      opacity: 1;
      color: #FFF;
  }
  a.animated-button.gibson-two {
      border: 2px solid #65b37a;
      color: #FFF;
  }
  a.animated-button.gibson-two:after {
      opacity: 0;
      background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
      background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
      background-size: 10px 10px;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      transform: translateX(-50%) translateY(-50%) rotate(-25deg);
  }
  a.animated-button.gibson-two:hover:after {
      height: 600% !important;
      opacity: 1;
      color: #FFF;
  }
  a.animated-button.gibson-three {
      border: 2px solid #65b37a;
      color: #FFF;
  }
  a.animated-button.gibson-three:after {
      opacity: 0;
      background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
      background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
      background-size: 10px 10px;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
      transform: translateX(-50%) translateY(-50%) rotate(90deg);
  }
  a.animated-button.gibson-three:hover:after {
      height: 600% !important;
      opacity: 1;
      color: #FFF;
  }
  a.animated-button.gibson-four {
      border: 2px solid #65b37a;
      color: #FFF;
  }
  a.animated-button.gibson-four:after {
      opacity: 0;
      background-image: -webkit-linear-gradient( transparent 50%, rgba(101,179,122,0.2) 50%);
      background-image: -moz-linear-gradient(transparent 50%, rgba(101,179,122,0.2) 50%);
      background-size: 10px 10px;
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
  }
  a.animated-button.gibson-four:hover:after {
      height: 600% !important;
      opacity: 1;
      color: #FFF;
  }
  /* Thar Buttons */

  a.animated-button.thar-one {
      color: #fff;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #F7CA18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  a.animated-button.thar-one:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: none;
  }
  a.animated-button.thar-one:hover:before {
      bottom: 0%;
      top: auto;
      height: 100%;
  }
  a.animated-button.thar-one:before {
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 0px;
      width: 100%;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #F7CA18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  a.animated-button.thar-two {
      color: #fff;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #F7CA18;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  a.animated-button.thar-two:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: ntwo;
  }
  a.animated-button.thar-two:hover:before {
      top: 0%;
      bottom: auto;
      height: 100%;
  }
  a.animated-button.thar-two:before {
      display: block;
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 0px;
      width: 100%;
      z-index: -1;
      content: '';
      color: #ffffff !important;
      background: #09015e;
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }

  a.animated-button.thar-three {
      color: #fff;
      border-radius: 25px;
      cursor: pointer;
      display: block;
      position: relative;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  a.animated-button.thar-three:hover {
      color: #ffffff !important;
      border-radius: 25px;
      background-color: transparent;
      text-shadow: nthree;
  }

  a.animated-button.thar-three:hover:before {
      left: 0%;
      right: auto;
      width: 100%;
  }

  a.animated-button.thar-three:before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      border-radius: 25px;
      color: #ffffff !important;
      background: #09015e;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  a.animated-button.thar-four {
      color: #fff;
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #F7CA18;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
  }

  a.animated-button.thar-four:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: nfour;
  }

  a.animated-button.thar-four:hover:before {
      right: 0%;
      left: auto;
      width: 100%;
  }

a.animated-button.thar-four:before {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #F7CA18;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

