/* 
css goBack
*/

.question,
.btn-container,
.incoming {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.visible {
    opacity: 1;
}

.btn-container2 {

    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.buttonEnviar-container {
    position: fixed;
    bottom: 700px;
    right: 20px;
    z-index: 1000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #b1b0b0, #aaaaaa, #a6a6a6, #8f8f8f);
    background-size: 300% 300%;
    animation: gradient 6s ease infinite;
    font-family: Arial, sans-serif;
}


@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

/* @media (max-width: 576px) {
    .alert {
        max-width: 90%;
        font-size: 13px;
        padding: 10px 15px;
    }
}

@media (max-width: 400px) {
    .alert {
        max-width: 95%;
        font-size: 12px;
        padding: 8px 12px;
    }
} */

.container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    animation: fadeIn 1s ease-in-out;
}

.card {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 750px;
    max-height: 650px;
    overflow-y: auto;
    background-color: rgba(63, 63, 63, 0.9);
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 0px 0px 15px rgba(171, 171, 171, 0.985);
    transition: transform 0.5s ease-in-out, background-color 0.3s ease;
    margin: 10px;
}

@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(50% - 40px);
        max-width: 100%;
        max-height: 600px;
    }
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 40px);
        max-width: 100%;
        max-height: 500px;
    }
}

@media (max-width: 577px) {
    .card {
        padding: 18px;
        font-size: 11px;
        max-height: 450px;
        max-width: 370px;
    }
}

@media (max-width: 375px) {
    .card {
        padding: 10px;
        font-size: 12px;
        max-width: 100%;
        max-height: 350px;
    }
}

@media (max-width: 320px) {
    .card {
        padding: 8px;
        font-size: 10px;
        max-width: 100%;
        max-height: 300px;
    }
}




.card::-webkit-scrollbar {
    width: 50px;
}

.card::-webkit-scrollbar-thumb {
    background-color: #ffffff49;
    border-radius: 10px;
    border: 2px solid #ffffff4c;
}

.card::-webkit-scrollbar-track {
    background-color: #ffffff47;
    border-radius: 10px;
}

.card {
    scrollbar-width: thin;
    scrollbar-color: #fefefe39 #f4f4f457;
}

.form-row {
    color: white;
}

label {
    display: contents;
    width: 200px;
}

.bahia {
    margin-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}


/* card del formato */
.horizontal-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
    margin: 20px;
}


.horizontal-card .form-group {
    flex: 5;
}

.horizontal-card .format-container {
    text-align: center;
    flex: 5 0 auto;
}

.hidden-but {
    visibility: hidden;
}

.card:hover {
    transform: scale(1.05);
    background-color: rgb(63 63 63 / 90%);
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 100%;
    }
}

.form-container {
    background-color: rgb(63 63 63 / 90%);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(190, 190, 190, 0.5);
    width: 100%;
    max-width: 600px;
    color: #fff;
    animation: fadeIn 1.5s ease-in-out, popIn 1.8s ease;
    transition: transform 1.5s ease-in-out;
    overflow: hidden;
}

.form-container:focus-within {
    transform: perspective(1000px) rotateY(0deg);
    background-color: rgb(86, 86, 86);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-group label {
    font-weight: bold;
    transition: color 0.5s ease;
    color: white;
    font-size: 25px;
}

.form-group label:hover {
    color: #b31500;
}



.form-group input,
.form-group textarea {
    padding: 10px;
    border-radius: 20px;
    border: 5px solid #ddd;
    background-color: #fff;
    color: #000;
}



.btn-primary,
.pulse-effect,
.back-button {
    background-color: #b31500;
    border: none;
    font-size: 1.3rem;
    padding: 18px 36px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: btnPulse 2s infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 240px;
    margin: 15px auto;
    display: block;
}

@keyframes btnPulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}


.btn-primary:active {
    animation: buttonClick 0.2s ease-in-out;
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
    transition: opacity 1s ease, transform 1s ease;
    animation: slideInFromTop 1.5s ease;
    font-size: calc(1.5rem + 2vw);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.2rem;
    }
}

/* pseudoclases */
/* pseudo */


.blanco {
    color: rgb(255, 255, 255);
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn {
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-primary:active,
.pulse-effect:active,
.back-button:active {
    animation: buttonClick 0.2s ease-in-out;
}


@media (min-width: 600px) {

    .btn-container,
    .btn-container2 {
        flex-direction: row;
    }
}

.pulse-effect {
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #b31500;
    font-size: 25px;
    transition: background-color 0.4s ease, transform 0.4s ease;
    animation: pulse 2s infinite;
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}


.pulse-effect:active {
    animation: buttonClick 0.2s ease-in-out;
}

.back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.buttonEnviar-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-button {
    background-color: #b31500;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: btnPulse 2s infinite;

}

.btn-primary:hover,
.pulse-effect:hover,
.back-button:hover {
    background-color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

}

.btn-primary:active,
.pulse-effect:active,
.back-button:active {
    animation: buttonClick 0.2s ease-in-out;
}


.back-button:active {
    animation: buttonClick 0.2s ease-in-out;
}

.alert {
    font-size: 1.2rem;
    color: green;
    text-align: center;
    animation: fadeIn 2s ease;
}

.format-container {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    display: none;
    margin-top: 20px;
    transition: opacity 1s ease-in-out;
}

.format-container.show {
    display: block;
    opacity: 1;
}

.format-container.hidden {
    opacity: 0;
}

@media (max-width: 600px) {
    .form-container {
        padding: 20px;
        transform: perspective(1000px) rotateY(0deg);
    }
}

/* chceckbox */

.radio-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

/* Ocultar el radio button */
.radio-item [type="radio"] {
    display: none;
}

/* Separación entre radio items */
.radio-item+.radio-item {
    margin-top: 1rem;
}

#spinner {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#spinner.fade-in {
    opacity: 1;
}

#checkIcon {
    transition: opacity 0.5s ease;
}

/* Estilo del label del radio */
.radio-item label {
    display: block;
    padding: 1rem 2.5rem;
    background: #1d1d42;
    border: 5px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    min-width: 300px;
    white-space: nowrap;
    position: relative;
    transition: 0.5s ease-in-out;
}

/* Estilo del círculo externo */
.radio-item label:after,
.radio-item label:before {
    content: "";
    position: absolute;
    border-radius: 100%;
}

/* Estilo del círculo sin seleccionar */
.radio-item label:after {
    height: 0.9rem;
    width: 1rem;
    border: 1px solid #524eee;
    left: 1.1rem;

}

/* Estilo del círculo seleccionado */
.radio-item label:before {
    background: #5751fa;
    height: 1rem;
    width: 1rem;
    left: 1.1rem;
    top: calc(50%-0.25rem);
    transform: scale(4);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}

/* Cambiar color del borde cuando está seleccionado */
.radio-item [type="radio"]:checked~label {
    border-color: #524eee;
}

/* Mostrar el círculo interno cuando está seleccionado */
.radio-item [type="radio"]:checked~label::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

/* Estilo personalizado para el contenedor de SweetAlert */
.my-swal-container {
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo negro semitransparente */
}

/* Estilo personalizado para el popup de SweetAlert */
.my-swal-popup {
    background-color: #000;
    /* Fondo negro para el popup */
    color: #ffffff;
    /* Texto blanco para contraste */
}

/* Animaciones de desvanecimiento */
.fade-out {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.fade-out.hidden {
    opacity: 0;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

/* Animaciones de deslizamiento */
.slide-out {
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.slide-out.hidden {
    transform: translateX(-100%);
}

.slide-in {
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
}

.slide-in.visible {
    transform: translateX(0);
}